
/*     
font-family: 'Courier Prime', monospace;(form)

font-family: 'DM Sans', sans-serif; (h1)

font-family: 'Montserrat', sans-serif; (h2, body,p)

*/ 




/*--------- generic styles -----------*/
html {
    font-size: 10px;
}


 body {
     font: 300 1.7rem/1.5 'Montserrat', sans-serif;
} 

h1 {

    font: 4rem 'DM Sans', sans-serif;
    padding-left: 2rem;
    text-align: center;
}

h2 {
    font: 2.5rem 'Montserrat', sans-serif;
    color: purple;
    padding-left: 2rem;
    text-align: center;
}
h3 {
    font: 2rem 'Montserrat', sans-serif;
    text-align: center;
}

p {
    font: 1.5rem 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 2rem;
}

li {
    list-style: none;
    margin-bottom: 6px;
}

form {
    font: 2rem 'Courier Prime', monospace;
}




/*-------- body ------------*/

body {
    background-color: rgba(255,255,255,.0);
    margin: .5em 1em;
}

hr {
    color: purple;
   border: dashed 1px;
    margin: 1rem;
}



/*-------- Fieldset General Code ------------*/

fieldset {
    border: none;
    line-height: 3rem;
    padding: .5rem;
    margin:0 .75rem;
}

label {
display: block;
    align-items: center;
}

input {
    padding: .5em;
    border: solid 1px #999;
    border-radius: 5px;
}

input[type="text"] {
    width: 90%;
}



select {
    padding: .5em;
    border: solid 1px #999;
    width: 90%;
    background-color: white;
    border-radius: 5px;
    /*might style the arrow? I couldn't figure out how to style the arrow.  I figured out how to hide the arrow but not how to put a border around it.
     appearance: none;
    */
}

textarea.message {
    width: 95%;
    height: 70px;
    margin: 2rem;
    border: solid 1px #999;
    border-radius: 5px;
}

label.newsletter {
    text-align: center;
}
 
.question {
  /* I cannot figure out how to center the radio buttons... */
}

.button {
    display: flex;
    /*justify-content: center;
    align-items: center; */
    width:90%;
    height: 5rem;
    color: white;
    background-color: purple;
    text-decoration: none;
   padding: 10px 1em;
   margin: 0 1rem 2.5rem 2.5rem; 
}


/*--------- Media Query 440px-----------*/

@media screen and (min-width: 440px){
   
    
}



/*--------- Media Query 470px-----------*/

@media screen and (min-width: 530px) {
    
     h1 {
        text-align: start;
        margin-left: 2rem;
    }
    
    
    hgroup {
     display: flex;
    justify-content: left;
    align-items:baseline;
    gap: 12px;
    margin-left: 2rem;
}
    
    
}

/*--------- Media Query 610px-----------*/


@media screen and (min-width: 610px){

}



/*--------- Media Query 700px-----------*/


@media screen and (min-width: 700px){
   /*----- address grid -------*/
    .address {
     display: grid;
    grid-template-areas:
        "name name name"
        "add2 add2 add2"
        "city state zip";
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    }
    .name {grid-area: name;}
    .add2 {grid-area: add2;}
    .city {grid-area: city;}
    .state {grid-area: state;}
    .zip {grid-area: zip;} 

    input[id="name"],  input[id="address2"]{
        min-width: 95%;
    }
    
    input[id="city"] {
        min-width: 50%;
    }
    
   input[id="state"], input[id="zip_code"]{
        max-width: 75%;
       margin-right: 10px;
         } 
    
    
   .button {
         margin: 0 1rem 2.5rem 4rem; 
    } 

} 